.hidden {
  display: none;
}

img {
  position: absolute;
  width:100%;
  height:100%;
  object-fit: cover;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}
body * {
  text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 30px;
}
input:focus {
  outline: none;
}

#clock {
  font-size: 150px;
  margin-top: 35vh;
  margin-bottom: 10px;
}

#login-form {
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}
#login-form > input{
  width: 250px;
  background-color: transparent;
  border-color: transparent;
  line-height: 40px;
  color: white;
  font-size: 28px;
}
#login-form > input::placeholder {
  font-size: 28px;
  color: white;
  opacity: 0.8;
}
#login-form > button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: white;
  font-size: 28px;
  border: transparent;
}
#greeting {
  margin-top: 0;
  height: 50px;
  font-size: 48px;
}
#todo-form > input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid white;
  width: 240px;
  color: white;
  font-size: 18px;
  text-align: center;
}
#todo-form > input::placeholder {
  font-size: 18px;
  color: white;
  opacity: 0.8;
}
#todo-list {
  font-size: 18px;
  width: 480px;
  list-style-type: none;
}
#todo-list > li {
  display: flex;
  justify-content: space-between
}
#todo-list button {
  background-color: transparent;
  margin-right: 35px;
  border-color: transparent;
  opacity: 0.7;
}

#quote {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quote > span:first-child {
  margin-bottom: 5px;
  font-size: 16px;
  opacity: 0.9;
}
#quote > span:last-child {
  font-size: 14px;
  opacity: 0.7;
}

#weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: absolute;
  top: 20px;
  right: 20px;
}
#weather > span:first-child {
  font-size: 18px;
  opacity: 0.9;
}
#weather > span:last-child {
  font-size: 14px;
  opacity: 0.7;
}